{% load static %}

<footer class="main-footer elevation-4 text-sm font-weight-bold footer-color" style="color: #ffffff;">

  &copy; <span>
    <a target="_blank" href="https://www.adb.org/" style="color: black;">ADB </a> 
    <span class="d-none d-sm-inline-block"> :: Asian Developed Bank</span>
  </span>
    
  <div class="float-right d-inline-block d-sm-inline-block text-center text-sm-right">
    <span>Developed by :: <a target="_blank" href="https://www.cegisbd.com/" style="color: black;">CEGIS</a></span>
  </div>

</footer>